@{
    Layout = "../Shared/NavBar.cshtml";
    //Layout = "../Shared/View1.cshtml";
}


@section style
{
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" media="all" href="~/Styles/style.css"/>
<link href="~/Styles/style_uwp.css" rel="stylesheet" />
}




<body class="home blog livecss">
<div id="header-panel" style="background-color: gray; height: 50px; border-radius: 6px 6px 6px 6px; ">

    @*<span style="color: red; font-size: 30px; cursor: pointer" title="Menu" onclick="openNav()">&#9776;</span>*@

    <div class="page" style="background-color: grey; height: 50px;">
        <div id="header" style="background-color: grey;">
            <div class="header-top">
                <h1 style="text-align: center; color: chartreuse; font-style: italic;">University Course & Result Management System</h1>
            </div><!--header-top end-->
            <div class="clear"></div>
            <div class="header-main" style="border-radius: 6px 6px 6px 6px;">

                <div id="ms-bg" style="background-color: black;">
                    <div id="main-menu" style="background-color: black;">
                        <div class="menu-header">

                            <ul><li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">Home</a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">     </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">      </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">       </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">       </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">        </a></li>
                                <li id="menu-item-615" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-615"><a href='#' class="sf-with-ul">Team-SAS</a></li>
                            </ul>

                        </div>
                    </div><!--main-menu end-->
                    <div id="search">
                    </div><!--search end-->
                    <div class="clear"></div>
                </div><!--ms-bg end-->
            </div><!--header-main end-->
        </div><!--header end-->
    </div><!--page end-->
</div><!--header-panel-->
<div class="page">
    <div class="clear"></div>
    <div id="Content-fullwidth">
        <div id="uwp-cleMain">
            <div id="uwp-user">&nbsp;You are logged in as: <b>Team-SAS</b> (<a href='#'>Team-SAS</a>)
            </div>
            <div id="uwp-filter-info">
                <p class='uwp-student-info-header'>&nbsp;&nbsp;&nbsp; </p>
                <p class='uwp-student-info'>
                <h3 align="center" style="font-style:italic"><b>Team-SAS</b>
                </h3> <br/>
                <p align="center" style="border:black">Shresta Biswas <br />Shahdat Hossain <br /> Avisekh Ayon</p>
                </p>
            </div>
            <div id="rest">
                <div class="uwp-prop"></div>

                <div id="msgBar"></div>
                <div id="cleContent">
                    <table class="uwp-noborder">
                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/Department/Save">Save Department</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/Department/ShowDepartment">Show All Department</a></td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/Course/Save">Save Course</a>
                            </td>
                        </tr>

                        <tr>
                            <td class="uwp-menu-item">

                                <a href="~/Teacher/Save">Save Teacher</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/AssignCourseToTeacher/Assign">Assign Course To Teacher</a></td>
                        </tr>
                        
                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/CourseStatics/Statics">View Course Statistics</a></td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/RegisterStudent/Register">Register Student</a></td>
                        </tr>

                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/AllocateClassRoom/ClassRoom">Allocate ClassRoom</a></td>
                        </tr>

                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/ClassRoomSceduleAllocation/ClassRoomScedule">View Class & Room Allocation Information</a></td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/EnrollCourseToStudeent/EnrollInACourse">Enroll in a Course</a></td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">

                                <a href="~/SaveStudentsResult/SaveStudentResult">Save Student Result</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">

                                <a href="~/StudentResult/Result">View Student Result</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="uwp-menu-item">

                                <a href="~/UnassignAllCourses/UnassignCourses">Unassign All Courses</a>
                            </td>
                        </tr>

                        <tr>
                            <td class="uwp-menu-item">
                                <a href="~/UnallocateAllRooms/UnallocateRooms">Unallocate All Rooms</a>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--content end-->
    <div id="footer">
        <div class="box986-top">
            <div class="box986-bottom">
                <div class="box986-mid">
                    <div class="footer-widget-section">
                        <div class="clear"></div>
                    </div><!--footer-widget end-->
                </div><!--box-487-mid end-->
                <div class="copyright-social">
                    <div class="copyright">
                        <p>
                            Copyright © 2018
                            <a href="#">Team-SAS</a>
                            | All Rights Reserved
                        </p>
                    </div><!--copyright end-->
                    <div class="counter">
                        <div class="footer-widget-5">
                            <div class="textwidget">
                            </div>
                        </div>
                    </div>
                    <div class="social">
                        <p>
                           
                        </p>
                    </div><!--social end-->
                    <div class="clear"></div>
                </div><!--copyright-social end-->
            </div><!--box-487-bottom end-->
        </div><!--box-487-top end-->
    </div><!--footer end-->
    <!--stats_footer_test-->
</div>

    @section scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    }
</body>