
@{
    ViewBag.Title = "UnallocateRooms";
    Layout = "../Shared/view1.cshtml";
}

<h2>Unallocate Rooms</h2>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <input type="submit" name="submit" id="submit" class="btn btn-danger btn-lg" value="Unallocate Rooms" style="margin-left: 43%" />
}
@if (ViewBag.Message != String.Empty)
{
    <p align="center">@ViewBag.Message</p>
}
@section scripts
{
    <script type="text/javascript">
        $().ready(function () {
            $("#submit").click(function () {
                return confirm("This will unallocate all rooms. Do you want to proceed?");
            });
        });
    </script>
}
